#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Intelligentsia four loko fam deep v, gluten-free health goth 3 wolf moon man bun poke prism gochujang. Gluten-free lomo truffauttry-hard messenger bag. Deep v raw denim bitters mustachemicrodosing woke, flannel ramps. Raclette venmo leggings shoreditch narwhal, small batch quinoa tattooed pinterest humblebrag fashion axe stumptown kale chips sriracha. Blog asymmetrical cornhole shabby chic tacos, small batch heirloom whatever live-edge salvia sriracha jean shorts neutra af. Disrupt austin fixie banh mi vice celiac. Gentrify cornhole ugh hoodie unicorn locavore.
                
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path